
body {
  height: 100vh;
  max-width: 1200px;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0px;
  color: #3F3F3F;
  font-family: 'Rubik', sans-serif;
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: #e5f4ff;
}

.main__topic {
  text-align: center;
  padding: 30px 0px 30px 0px;
  margin: 0px auto;
  font-size: 40px;
  font-weight: 300;
  
}