.term {
    margin: 0px auto;
    height: 100px;
    width: 1150px;
}

.term-blocks {
    height: 50px;

    display: grid;
    grid-template-columns: repeat(12, auto);
    user-select: none;
}

.block {
    text-align: center;
}

.block p {
    font-size: 14px;
    color: #4999ea;
}

.block p svg {
    height: 13px;
    width: 13px;
    padding-right: 5px;
}

.term__line {
    height: 3px;
    width: 1060px;
    margin: 0px auto;
}

.term__toggle {
    position: relative;
    width: 23px;
    height: 23px;
    top: -10px;
    left: -10px;
    border-radius: 50%;

    background: #ffffff;
    border: 2px solid #4999ea;
    box-sizing: border-box;

    cursor: pointer;

    transition-property: border;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    outline: medium;
}

.term__toggle:hover {
    border: 4px solid #4999ea;
}

.indincator {
    width: 293px;
    height: 86px;
}

@media (max-width: 1200px) {
    .term {
        width: 950px;
    }

    .block p {
        font-size: 13px;
        color: #4999ea;
    }

    .term__line {
        height: 3px;
        width: 890px;
    }
}

@media (max-width: 990px) {
    .term {
        width: 616px;
    }

    .block p {
        font-size: 10px;
        color: #4999ea;
    }

    .term__line {
        height: 3px;
        width: 580px;
    }
}

@media (max-width: 700px) {
    .term {
        width: 100%;
    }

    .block {
        display: none;
    }

    .term {
        height: 50px;
    }

    .term-blocks {
        height: 0px;
    }

    .term__line {
        height: 3px;
        width: 80%;
    }
}
